* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.btn {
  width: 90%;
  margin: 1rem auto;
  border-radius: 5px;
  cursor: pointer;
}
.btn.btn-primary {
  background: #477cfd;
  color: #ffffff;
  font-size: 16px;
  padding: 1rem 0;
  border: none;
  outline: none;
}
.btn.btn-secondary {
  background: #ffffff;
  color: #477cfd;
  font-size: 16px;
  padding: 1rem 0;
  border: 1px solid #477cfd;
  outline: none;
}
.section-pricing-plans {
  width: 50%;
  margin: 3rem auto;
}
.list-pricing-plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.plan-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
}
.plan-title {
  padding: 1rem 0;
  background: #eee;
  width: 100%;
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid #e5e5e5;
}
.price {
  margin-top: 1rem;
  font-size: 20px;
}
.benefits {
  margin: 1rem 0;
}
.benefit-item {
  margin-top: 0.5rem;
  text-align: center;
}
