footer{
  .footer-top{
    background: #f7f7f7;
    padding: 3rem 0;
    .footer-contact-us{
      .footer-logo{
        width: 95px;
        margin-bottom: 1.3em;
      }
      .address, .phone-number, .mail{
        margin-bottom: 1.3em;
      }
      .list-media{
        
      }
    }
  }
}