.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.625rem;
}
.container {
  padding: 0 0.938rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: percentage($i / $grid-columns);
    padding: 0 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0 1.25rem;
  }
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      width: percentage($i * 2 / $grid-columns);
    }
  }
}
