.section-banner {
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  .banner-content {
    position: absolute;
    left: 17.5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    .banner-title {
      font-size: 72px;
      color: #ffffff;
      line-height: 80px;
    }
    .banner-button {
      margin-top: 2rem;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      text-decoration: underline;
      display: flex;
      .banner-button-icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 2rem;
        background: #fbb03b;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .section-services {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 78%;
    height: 125px;
    border-radius: 0px 70px 0px 0px;
    background: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    .list-services {
      width: 77.5%;
      .list-item {
        padding-right: 3rem;
        flex: 1;
        .service-icon {
          height: 36px;
          border-radius: 8px;
          padding-right: 2rem;
        }
        .service-title {
          font-size: 14px;
        }
        .service-description {
          font-size: 12px;
          line-height: 18px;
          color: #a8a8a8;
        }
      }
    }
  }
}
.section-colections {
  margin: 3rem auto;
  .badge {
    position: absolute;
    top: 30%;
    left: 45px;
    z-index: 1;
  }
  .colection-content {
    position: absolute;
    top: 45%;
    left: 45px;
    padding-right: 70px;
    z-index: 1;
    .colection-title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 35px;
      min-height: 120px;
    }
  }
}
.section-products {
  margin: 5rem auto;
  .list-products {
    margin-top: 40px;
  }
}
.section-reason {
  padding: 4rem 0;
  margin: 5rem auto;
  background: #f7f7f7;
  .list-reason {
    margin-top: 4rem;
    .list-item {
      cursor: pointer;
      &:hover .reason-service {
        color: #fbb03b;
        transition: 0.3s;
      }
      .reason-icon {
        height: 70px;
        width: 70px;
        line-height: 70px;
        border-radius: 10px;
        background: #ffffff;
        text-align: center;
      }
      .reason-service {
        margin-top: 3rem;
        font-size: 16px;
        color: #333333;
      }
      .reason-description {
        margin-top: 1.5rem;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}
.section-contact {
  background: url("../images/contact.png") no-repeat;
  background-size: cover;
  height: 240px;
  width: 100%;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
    opacity: 0.7;
  }
  .contact-content {
    width: 100%;
    z-index: 1;
    .contact-description {
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
    }
    .form {
      padding: 0 10px;
      .input {
        width: 100%;
        background: #ffffff;
        padding: 1rem 2rem;
        border-radius: 61px;
        border: none;
        outline: none;
      }
      button {
        padding: 1rem 2rem;
        margin-left: 3rem;
      }
    }
  }
}

