html,
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* ----------  HEADER*/

header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);

  z-index: 1;
}
header .container {
  width: 85%;
  margin: 0 auto;
  margin-top: 55px;

  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-logo .title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 19px;

  color: #ffffff;
}

.nav-list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 8rem;
}
.nav-list .nav-item .nav-link {
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  color: #fbb03b;
}
.header-options .list-options {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.list-options .list-item .list-link {
  font-size: 16px;
  color: #ffffff;

  cursor: pointer;
}

/* ----------  BANNER*/
.section-banner {
  background-image: url("./assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  position: relative;
}
.section-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.banner-content {
  position: absolute;
  left: 16%;
  top: 25%;

  display: flex;
  flex-direction: column;

  z-index: 1;
}
.banner-content .title {
  font-weight: 700;
  font-size: 72px;
  color: #ffffff;
}
.banner-content .title-content {
  line-height: 75px;
}
.banner-content .title .active {
  line-height: 75px;
  color: #fbb03b;
}
.banner-content .shopnow {
  display: flex;
  gap: 2rem;
  align-items: center;

  margin-top: 2rem;
}
.banner-content .shopnow .shop {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;

  text-decoration: underline;
}
.banner-content .shopnow .icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fbb03b;

  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}
.section-services {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 78.5%;
  height: 125px;
  padding-right: 100px;
  border-radius: 0px 70px 0px 0px;

  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: flex-end;

  background: #ffffff;

  z-index: 1;
}
.section-services .list-services {
  width: 78%;

  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.list-services .list-item {
  flex: 1;
  display: flex;
  gap: 1.5rem;
}
.list-services .list-item .icon {
  width: 36px;
  height: 36px;
  border-radius: 8px;
}
.list-services .list-item .main {
}
.list-services .list-item .main h5 {
  font-weight: bold;
  font-size: 14px;

  color: #333333;
}
.list-services .list-item .main span {
  font-size: 12px;
  line-height: 18px;

  color: #a8a8a8;
}

