@mixin create-grid-system($sizeScreen) {
  @for $i from 1 through 12 {
    @if (str-length($sizeScreen) > 0) {
      .col-#{$sizeScreen}-#{$i} {
        width: percentage($i / 12);
        padding: 0 $space;
      }
    } @else {
      .col-#{$i} {
        width: percentage($i / 12);
        padding: 0 $space;
      }
    }
  }
}
@include create-grid-system("");
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -$space;
}
.container {
  padding: 0 $space;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  $space: 0.25rem !global;
  @include create-grid-system("sm");
  .row {
    margin: 0 -$space;
  }
  .container {
    padding: 0 1.25rem;
  }
}
