.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.625rem;
}
.col {
  width: 100%;
  padding: 0 0.625rem;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 25%;
  padding: 0 0.625rem;
}
.col-6 {
  width: 50%;
  padding: 0 0.625rem;
}
.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}
