.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$space;
}
.col {
  width: 100%;
  padding: 0 $space;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 25%;
  padding: 0 $space;
}
.col-6 {
  width: 50%;
  padding: 0 $space;
}
.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  z-index: 1;
}
@media screen and (max-width: 480px){
  .row{
    margin: 0 -4px;
  }
  .col-lg-6{
    width: 100%;
    padding: 4px;
  }
  .col-sm-6{
    width: 50%;
    padding: 4px;
  }
  .col-sm-3{
    width: 50%;
    padding: 4px;
  }
}
