header {
  position: absolute;
  top: 3.438rem;
  width: 100%;
  z-index: 1000;
  .header-logo {
    @include align-center;
    font-size: map-get($font-size, "xlg");
    color: map-get($color, "white-snow");
    .header-image {
      padding-right: 1rem;
      &.header-image-mobile {
        display: none;
      }
    }
  }
  .nav-list {
    @include align-center;
    .nav-item {
      padding: 0 4rem;
      .nav-link {
        font-weight: bold;
        font-size: map-get($font-size, "lg");
        color: map-get($color, "primary");
      }
    }
  }
  .header-options {
    &.header-options-mobile {
      display: none;
    }
    .list-options {
      @include align-center;
      .option-item {
        padding: 0 1rem;
        .list-link {
          font-size: map-get($font-size, "ls");
          color: map-get($color, "white-snow");
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 4.375rem;
    line-height: 4.375rem;
    padding: 0 0.875rem;
    top: 0;
    background: map-get($color, "white-snow");
    .header-logo {
      color: map-get($color, "black-midnight");
      font-size: map-get($font-size, "xxl");
      .header-image {
        display: none;
        padding-right: 1rem;
        &.header-image-mobile {
          display: block;
        }
      }
    }
    .nav-list {
      display: none;
    }
    .header-options {
      display: none;
      &.header-options-mobile {
        display: block;
      }
      .list-options {
        .option-item {
          padding: 0;
          margin-left: 1.5rem;
          .list-link {
            @include align-center;
          }
        }
      }
    }
  }
}
