header {
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 1000;
  .header-logo {
    display: flex;
    align-items: center;
    font-size: map-get($font-size, "xlg");
    color: map-get($color, "white-snow");
    .header-image {
      padding-right: 1rem;
    }
  }
  .nav-list {
    display: flex;
    align-items: center;
    .nav-item {
      padding: 0 4rem;
      .nav-link {
        font-weight: bold;
        font-size: map-get($font-size, "lg");
        color: map-get($color, "primary");
      }
    }
  }
  .list-options {
    display: flex;
    align-items: center;
    .option-item {
      padding: 0 1rem;
      .list-link {
        font-size: map-get($font-size, "ls");
        color: map-get($color, "white-snow");
      }
    }
  }
}

@media screen and (max-width: 480px){
  
}

