header {
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 1;
  .container {
    .header-content {
      margin-top: 55px;
      .header-logo {
        display: flex;
        align-items: center;
        color: #ffffff;
        .header-title {
          .header-image {
            padding-right: 1rem;
          }
        }
      }
      .nav-main {
        .nav-list {
          .nav-item {
            padding: 0 4rem;
            .nav-link {
              font-weight: bold;
              font-size: 18px;
              color: #fbb03b;
            }
          }
        }
      }
      .header-options {
        .list-options {
          .list-item {
            padding: 0 1rem;
            .list-link {
              font-size: 16px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
