* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14.5px;
  line-height: 1.6;
  color: #555;
  font-weight: 400;
  width: 100% !important;
}
a {
  text-decoration: none;
  color: #555;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img{
  width: 100%;
  height: 100%;
}
