* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Nunito Sans;
  font-size: 14.5px;
  line-height: 1.6;
  color: #555;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
