@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin align-center {
  display: flex;
  align-items: center;
}
@mixin layer-100 {
  position: relative;
  width: 100%;
  height: 100%;
}
@mixin layer-w-100 {
  position: relative;
  width: 100%;
}
