$font-size: (
  xss: 0.625rem,
  xs: 0.688rem,
  xxs: 0.75rem,
  sm: 0.813rem,
  normal: 0.906rem,
  lg: 1rem,
  xl: 1.125rem,
  xxl: 1.188rem,
  xxxl: 1.25rem,
  xxxxl: 1.5rem,
  xxxxxl: 1.875rem,
  xxxxxxl: 2rem,
  xxxxxxxl: 4.5rem,
);
$space: 0.625rem;
$grid-columns: 12;
