.badge {
  border-radius: 1.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  font-size: map-get($font-size, "xxs");
  text-align: center;
  z-index: 1;
  &.badge-danger {
    color: map-get($color, "white-snow");
    background: map-get($color, "red-fire");
  }
}
@media screen and (max-width: 480px) {
  .badge {
    padding: 0.25rem 0.5rem;
    font-size: 0.5rem;
  }
}
