.badge {
  border-radius: 20px;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  &.badge-danger {
    color: map-get($color, "white-snow");
    background: map-get($color, "red-fire");
  }
}
