.btn {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  color: map-get($color, "black-color");
  border: none;
  border-radius: 33px;
  outline: none;
  cursor: pointer;
  &.btn-primary {
    background: map-get($color, "primary-color");
  }
  &.btn-secondary {
    background: map-get($color, "white-color");
    &:hover {
      background: map-get($color, "primary-color");
      transition: 0.3s;
    }
  }
  &.btn-outline {
    border: 1px solid map-get($color, "gray-light");
    &:hover {
      background: map-get($color, "primary-color");
      transition: 0.3s;
      border: 1px solid map-get($color, "primary-color");
    }
  }
  &.btn-primary {
    background: map-get($color, "primary-color");
  }
  &.btn-primary {
    background: map-get($color, "primary-color");
  }
}
