.btn {
  font-weight: bold;
  font-size: map-get($font-size, "sm");
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  color: map-get($color, "black-midnight");
  border: none;
  border-radius: 33px;
  outline: none;
  cursor: pointer;
  &.btn-primary {
    background: map-get($color, "primary");
  }
  &.btn-secondary {
    background: map-get($color, "white-snow");
    &:hover {
      background: map-get($color, "primary");
      transition: 0.3s;
    }
  }
  &.btn-outline {
    border: 1px solid map-get($color, "gray-light");
    &:hover {
      background: map-get($color, "primary");
      transition: 0.3s;
      border: 1px solid map-get($color, "primary");
    }
  }
}
@media screen and (max-width: 480px){
  .btn{
    font-size: 10px;
    padding: 6px 1rem;
  }
}