.card-collection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  &::after {
    @include layer;
    background: map-get($color, "black-midnight");
    opacity: 0.5;
  }
  .card-image {
    width: 100%;
    height: 100%;
  }
}

.card-product {
  .card-image {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      position: absolute;
      top: 1.5rem;
      left: 1.125rem;
    }
  }
  .card-name {
    font-weight: 300;
    font-size: map-get($font-size, "lg");
  }
  .card-prices {
    display: flex;
    justify-content: space-between;
    font-size: map-get($font-size, "xxxl");
    .price {
      color: map-get($color, "black-midnight");
    }
    .new-price {
      color: map-get($color, "red-fire");
    }
    .old-price {
      color: map-get($color, "gray-cloudy");
    }
  }
}
@media screen and (max-width: 480px) {
  .card-product {
    margin-bottom: 1rem;
    .card-image {
      .badge {
        top: 0.625rem;
        left: 0.625rem;
      }
    }
    .card-name,
    .card-prices {
      font-size: map-get($font-size, "xxs");
    }
  }
}
