.card-collection {
  position: relative;
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: map-get($color, "black-midnight");
    opacity: 0.5;
  }
  .card-image {
    width: 100%;
    height: 100%;
  }
}

.card-product {
  .card-image {
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      position: absolute;
      top: 24px;
      left: 18px;
    }
  }
  .card-name {
    font-weight: 300;
    font-size: map-get($font-size, "ls");
  }
  .card-prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: map-get($font-size, "xl");
    .price {
      color: map-get($color, "black-midnight");
    }
    .new-price {
      color: map-get($color, "red-fire");
    }
    .old-price {
      color: map-get($color, "gray-cloudy");
    }
  }
}
@media screen and (max-width: 480px){
  .card-product{
    .card-image{
      .badge{
        top: 10px;
        left: 10px;
      }
    }
    .card-name{
      font-size: 12px;
    }
    .card-prices{
      font-size: 12px;
    }
  }
}
