h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: map-get($color, "black-midnight");
}
.section-title {
  font-weight: 300;
  font-size: map-get($color, "xxxxl");
  line-height: 48px;
  text-align: center;
}
.text-primary {
  color: map-get($color, "primary");
}