$color: (
  primary: #fbb03b,
  secondary: #fff3df,
  white-snow: #ffffff,
  red-fire: #ff0000,
  black-midnight: #333333,
  gray-fog: #f6f6f6,
  gray-light: #c4c4c4,
  gray-cloudy: #cecece,
  gray-mouse: #ababab,
  gray-metal: #a8a8a8,
  gray-bold: #808080,
);
$font-size: (
  xss: 10px,
  xs: 11px,
  xxs: 12px,
  sm: 13px,
  normal: 14px,
  lg: 16px,
  xl: 18px,
  xxl: 19px,
  xxxl: 20px,
  xxxxl: 24px,
  xxxxxl: 30px,
  xxxxxxl: 32px,
  xxxxxxxl: 72px,
);
$font-body: Poppins, sans-serif;
$space: (
  desk: 0.625rem,
  mobi: 4px,
);
