.badge{
  color: white;
  padding: .2rem .5rem;
  font-size: 10px;
  font-weight: bold;
  border-radius: 3px;
  &.badge-primary{
    background: #e85756;
  }
  &.badge-secondary{
    background: #9ac45e;
  }
  &.badge-limited{
    background: #e2ac5a
  }
}