/* --------------- LAYOUT  */
.row {
  display: flex;
}
.col-6 {
  flex: 2;
}
.col-3 {
  flex: 1;
}

/* --------------- FLEX  */
.flex-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-between {
  align-items: space-between;
}
.align-items-center {
  align-items: center;
}

/* --------------- TEXT  */
.section-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;

  color: #333333;
}
.title-center {
  text-align: center;
}
.name-product {
  font-weight: 300;
  font-size: 16px;
  color: #333333;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333333;
}

/* --------------- BUTTON  */
.btn {
  font-weight: bold;
  font-size: 13px;
  text-align: center;

  padding: 0 20px;
  color: #333333;

  border: none;
  border-radius: 33px;
  outline: none;

  cursor: pointer;
}
.btn-primary {
  background: #fbb03b;
}
.btn-secondary {
  background: #ffffff;
}
.btn-border {
  border: 1px solid #c4c4c4;
}
.btn-border:hover {
  background: #fbb03b;
  transition: 0.3s;
  border: 1px solid #fbb03b;
}
.btn-sale {
  color: #ffffff;
  background: #ff0000;
  border-radius: 20px;

  padding: 10px 10px;

  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
