/* --------------- LAYOUT  */
.col-6 {
  width: 50%;
  padding: 0 0.625rem;
}
.col-3 {
  width: 25%;
  padding: 0 0.625rem;
}
.container {
  width: 85%;
  margin: auto;
}
/* --------------- FLEX  */
.d-flex {
  display: flex;
  margin: 0 -0.625rem;
}
.flex-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-between {
  align-items: space-between;
}
.align-items-center {
  align-items: center;
}
/* --------------- TEXT  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #333333;
}
.section-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
}
.txt-center {
  text-align: center;
}
.name-product {
  font-weight: 300;
  font-size: 16px;
}
.text-primary {
  color: #fbb03b;
}
/* --------------- BUTTON  */
.btn {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #333333;
  border: none;
  border-radius: 33px;
  outline: none;
  cursor: pointer;
}
.btn-primary {
  background: #fbb03b;
}
.btn-secondary {
  background: #ffffff;
}
.btn-secondary:hover {
  background: #fbb03b;
  transition: 0.3s;
}
.btn-outline {
  border: 1px solid #c4c4c4;
}
.btn-outline:hover {
  background: #fbb03b;
  transition: 0.3s;
  border: 1px solid #fbb03b;
}
/* -------------- BADGE */
.badge {
  border-radius: 20px;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
.badge-primary {
  color: #ffffff;
  background: #ff0000;
}
