/* ----------  HEADER*/
header {
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 1;
}
.header-logo {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header-image {
  padding-right: 1rem;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list .nav-item {
  padding: 0 4rem;
}
.nav-list .nav-item .nav-link {
  font-weight: bold;
  font-size: 18px;
  color: #fbb03b;
}
.list-options {
  display: flex;
  align-items: center;
}
.list-options .option-item {
  padding: 0 1rem;
}
.list-options .option-item .list-link {
  font-size: 16px;
  color: #ffffff;
}
/* ----------  BANNER*/
.section-banner {
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.section-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.banner-content {
  position: absolute;
  left: 17.5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.banner-content .banner-title {
  font-size: 72px;
  color: #ffffff;
  line-height: 80px;
}
.banner-content .banner-button {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-decoration: underline;
  display: flex;
  margin-top: 2rem;
}
.banner-button-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 2rem;
  background: #fbb03b;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-services {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 78%;
  height: 125px;
  border-radius: 0px 70px 0px 0px;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
.section-services .list-services {
  width: 77.5%;
  display: flex;
}
.list-services .service-item {
  padding-right: 3rem;
  display: flex;
  flex: 1;
}
.list-services .service-item .service-icon {
  height: 36px;
  border-radius: 8px;
  padding-right: 2rem;
}
.list-services .service-item .service-title {
  font-size: 14px;
}
.list-services .service-item .service-description {
  font-size: 12px;
  line-height: 18px;
  color: #a8a8a8;
}
/* ------------- COLLECTIONS */
.section-collections {
  margin: 3rem auto;
}
.list-collections .collection-item .badge {
  position: absolute;
  top: 35%;
  left: 40px;
  z-index: 1;
}
.list-collections .collection-item .collection-content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  padding: 0 40px 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}
.list-collections .collection-item .collection-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}
/* ----------  PRODUCTS  */
.section-products {
  margin: 5rem auto;
}
.section-products .list-products {
  margin-top: 40px;
}
/* ---------- REASON */
.section-reason {
  padding: 4rem 0;
  margin: 5rem auto;
  background: #f7f7f7;
}
.section-reason .list-reason {
  margin-top: 4rem;
}
.list-reason .reason-item {
  cursor: pointer;
}
.list-reason .reason-item .reason-title {
  margin-top: 4rem;
}

.list-reason .reason-item:hover .reason-title {
  color: #fbb03b;
  transition: 0.3s;
}
.list-reason .reason-item .reason-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 10px;
  background: #ffffff;
  text-align: center;
}
.list-reason .reason-item .reason-service {
  margin-top: 3rem;
  font-size: 16px;
  color: #333333;
}
.list-reason .reason-item .reason-description {
  margin-top: 1.5rem;
  font-weight: 500;
  font-size: 14px;
}
/* ---------------- CONTACT */
.section-contact {
  background: url("../images/contact.png") no-repeat;
  background-size: cover;
  height: 240px;
  width: 100%;
  position: relative;
  display: flex;
}
.section-contact::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
  opacity: 0.7;
}
.contact-content {
  display: flex;
  width: 100%;
  z-index: 1;
}
.contact-content .contact-description {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.contact-content .form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.contact-content .form .input {
  width: 100%;
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 61px;
  border: none;
  outline: none;
}
.contact-content .form button {
  padding: 1rem 2rem;
  margin-left: 3rem;
}
/* ---------------- FOOTER */
footer {
  background: #fbb03b;
}
footer .footer-top {
  border-bottom: 1px solid #ffffff;
  padding: 3rem 0;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo .footer-title {
  font-family: Helvetica;
  font-size: 19px;
  color: #ffffff;
  padding-left: 1rem;
}
.footer-top .about-us .footer-description {
  color: #ffffff;
  margin-top: 2rem;
  padding-right: 150px;
}
.footer-top .about-us .list-media {
  display: flex;
  margin-left: -2rem;
  margin-top: 4rem;
}
.about-us .list-media .media-item {
  padding-left: 2rem;
}
.footer-top .list-info {
  display: flex;
  justify-content: space-between;
}
.list-info .title {
  font-size: 16px;
  color: #ffffff;
}
.list-subinfo .list-item {
  margin-top: 1.5rem;
}
.list-info .info-item .list-subinfo {
  margin-top: 2.5rem;
}
.list-subinfo .list-item .list-item-link {
  color: #ffffff;
}
.footer-bottom {
  text-align: center;
  padding: 1.5rem 0;
  color: #ffffff;
}
