* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito Sans;
  font-size: 14.5px;
  line-height: 1.6;
  color: #555;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-between {
  align-items: space-between;
}

.align-items-center {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.625rem;
}

.container {
  padding: 0 0.938rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 1.25rem;
  }

  .col-sm-1 {
    width: 16.6666666667%;
  }

  .col-sm-2 {
    width: 33.3333333333%;
  }

  .col-sm-3 {
    width: 50%;
  }

  .col-sm-4 {
    width: 66.6666666667%;
  }

  .col-sm-5 {
    width: 83.3333333333%;
  }

  .col-sm-6 {
    width: 100%;
  }

  .col-sm-7 {
    width: 116.6666666667%;
  }

  .col-sm-8 {
    width: 133.3333333333%;
  }

  .col-sm-9 {
    width: 150%;
  }

  .col-sm-10 {
    width: 166.6666666667%;
  }

  .col-sm-11 {
    width: 183.3333333333%;
  }

  .col-sm-12 {
    width: 200%;
  }
}
header .header-top {
  min-height: 42px;
  border-bottom: 1px solid #e5e5e5;
}
header .header-top .header-top-content {
  padding: 10px 0;
}
header .header-top .option-item {
  position: relative;
  cursor: pointer;
}
header .header-top .option-item:hover .option-dropdown {
  visibility: visible;
  transition: 0.3s;
}
header .header-top .option-item:nth-child(2) {
  padding-left: 1rem;
}
header .header-top .option-item i {
  font-size: 10px;
}
header .header-top .option-item .option-dropdown {
  position: absolute;
  top: 34px;
  right: 0;
  padding: 1rem;
  background: #eee;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  visibility: hidden;
  pointer-events: auto;
  z-index: 1;
}
header .header-top .option-item .option-dropdown .dropdow-item {
  touch-action: manipulation;
}
header .nav-main {
  min-height: 95px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-main .nav-logo img {
  width: 100px;
}
header .nav-main .nav-list {
  display: flex;
}
header .nav-main .nav-list .nav-item {
  display: flex;
  align-items: center;
  height: 95px;
  position: relative;
  cursor: pointer;
}
header .nav-main .nav-list .nav-item:hover .nav-link {
  color: #f76b6a;
  transition: 0.3s;
}
header .nav-main .nav-list .nav-item .nav-link {
  padding: 0 18px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}
header .nav-main .nav-list .nav-item .nav-link i {
  font-size: 10px;
  padding-left: 0.5rem;
}
header .nav-main .nav-list .nav-item .nav-link.nav-link-active {
  color: #f76b6a;
}
header .nav-main .nav-list .nav-item .nav-link.nav-link-active i {
  font-size: 20px;
  color: #f76b6a;
  padding-right: 0.5rem;
}
header .nav-main .nav-list .nav-item .menu-dropdown {
  position: absolute;
  right: 0;
  max-height: 75vh;
}
header .nav-main .list-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 -0.7rem;
}
header .nav-main .list-icons .icon-item {
  padding: 0 0.7rem;
}
header .nav-main .list-icons .icon-item i {
  font-size: 22px;
  cursor: pointer;
}
header .nav-main .list-icons .icon-item i:hover {
  color: #f76b6a;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.section-title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 1.125rem;
  }
}

/*# sourceMappingURL=styles.css.map */
