/* Error: Expected expression.
 *    ,
 * 37 |       width: ;
 *    |              ^
 *    '
 *   assets\stylesheets\pages\_home.scss 37:14  @import
 *   assets\stylesheets\pages\_all.scss 1:9     @import
 *   assets\stylesheets\styles.scss 5:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 37 \2502        width: ;\d\a    \2502               ^\a    \2575 \a   assets\\stylesheets\\pages\\_home.scss 37:14  @import\a   assets\\stylesheets\\pages\\_all.scss 1:9     @import\a   assets\\stylesheets\\styles.scss 5:9         root stylesheet";
}
